* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0fbfc;
}

h1 {
  text-align: center;
  color: #293241;
  font-family: Courier;
  font-size: 5vh;
  margin: 20px;
  font-weight: 900;
  text-decoration: underline;
}

.game {
  height: 67vmin;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_cont {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  font-size: 10vmin;
  color: #e0fbfc;
  background-color: #3d5a80;
  border-radius: 3vmin;
  box-shadow: 0 0 1rem rgba(19, 25, 15, 0.5);
  cursor: pointer;
}

.reset {
  height: 7vmin;
  width: 22vmin;
  font-size: 4vmin;
  color: #d5dfe5;
  background-color: #293241;
  border-radius: 2vmin;
  margin: 1px auto;
  display: block;
  border: none;
  box-shadow: 0 0 1rem 0.1em rgba(238, 108, 77, 1);
  cursor: pointer;
}



.after_finish {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hide {
  display: none;
}

.result {
  color: #3d5a80;
  font-size: 5vmin;
  font-weight: bold;
}

.new_game_btn {
  height: 7vmin;
  width: 22vmin;
  font-size: 4vmin;
  color: #d5dfe5;
  background-color: #293241;
  border-radius: 2vmin;
  margin: 1px auto;
  display: block;
  border: none;
  box-shadow: 0 0 1rem 0.1em rgba(238, 108, 77, 1);
  cursor: pointer;
}

@media (max-width: 700px) {
  h1 {
    font-size: 10vw;
  }

  .result {
    font-size: 30px;
    text-align: center;
  }
};